extends ../layout/page.pug

block content
  h1.header= 'Статья'
  div.row.mt-5.p-5.shadow.bg-white
    div.col-12.col-md-4.px-3.order-1.order-md-2.mb-3.mb-md-0
      p #{post.title}
      p #{post.body}

