html
  head
    title My Site
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH", crossorigin="anonymous")
  body
    .container.wrapper.flex-grow-1
      if flash && flash.warning
        for message in flash
          .alert(class='alert-warning')
            = message

      if flash && flash.success
        for message in flash
          .alert(class='alert-success')
            = message

      if flash && flash.info
        for message in flash
          .alert(class='alert-info')
            = message
      block content
