html
  head
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")

  body
    block header
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        div.collapse.navbar-collapse
          li.nav-item.active
            a(href='/') Главная
          li.nav-item
            a(href='/posts') Посты
          li.nav-item
            a(href='/posts/new') Создать пост
    block content
